extends ../layout

block content

  .alert.alert-info
    | Hier kannst du eine Tippgemeinschaft für dich und deine Freunde / Kollegen erstellen. Einsätze, Preise und Regeln könnt ihr optional selbst bestimmen.

  .alert.alert-warning
    | Das Passwort für die Gruppe wird bei uns im Klartext gespeichert. Das vereinfacht das Einladen deiner Freunde per E-Mail.
    | Nimm also bitte kein Passwort, welches du auch für persönliche Konten verwendest! Wenn du kein Passwort wählst, kann jeder deiner Tippgruppe beitreten.

  - var action = group.isNew ? '/groups' : '/groups/' + group._id
  - var legend = group.isNew ? 'Neue Gruppe gründen' : 'Gruppe bearbeiten'
  form(method='POST', action=action)
    legend= legend
    input(type='hidden', name='_csrf', value=token)
    .col-sm-8.col-sm-offset-2
      - if (!group.isNew)
        input(type="hidden", name="_method", value="PUT")
      .form-group
        label.control-label(for='name') Name
        input.form-control(type='text', name='name', id='name', value=group.name, placeholder='Name', autofocus=true)
      .form-group
        label.control-label(for='password') Passwort (frei lassen für öffentliche Gruppe)
        input.form-control(type='text', name='password', value=group.password_freetext, id='group_password', placeholder='Passwort')
      .form-group
        label.control-label(for='price') Preis (optional)
        textarea.form-control(type='text', name='price', id='price', placeholder='Preis')
          | #{group.price}
      .form-group
        label.control-label(for='rules') Regeln (optional)
        textarea.form-control(type='text', name='rules', id='rules', placeholder='Regeln')
          | #{group.rules}
      .form-group
        label.control-label(for='freetext') Sonstiges (optional)
        textarea.form-control(type='text', name='freetext', id='freetext', placeholder='Sonstiges')
          | #{group.freetext}
      .form-group
        - var buttonText = group.isNew ? 'Gruppe erstellen' : 'Gruppe ändern'
        button.btn.btn-primary(type='submit')
          i.fa.fa-unlock-alt
          | #{buttonText}
      hr

