extends ../layout

block content
  - var action = group.isNew ? '/groups' : '/groups/' + group._id
  - var legend = group.isNew ? 'Neue Gruppe gründen' : 'Gruppe bearbeiten'
  form(method='POST', action=action)
    legend= legend
    input(type='hidden', name='_csrf', value=token)
    .col-sm-8.col-sm-offset-2
      - if (!group.isNew)
        input(type="hidden", name="_method", value="PUT")
      .form-group
        label.control-label(for='name') Name
        input.form-control(type='text', name='name', id='name', value=group.name, placeholder='Name', autofocus=true)
      .form-group
        label.control-label(for='is_public') Öffentliche Gruppe
        input.form-control(type='checkbox', name='is_public', value=group.is_public, id='is_public')
      .form-group
        label.control-label(for='password') Passwort
        input.form-control(type='password', name='password', id='password', placeholder='Passwort')
      .form-group
        label.control-label(for='price') Preis
        textarea.form-control(type='text', name='price', id='price', placeholder='Preis')
          | #{group.price}
      .form-group
        label.control-label(for='rules') Regeln
        textarea.form-control(type='text', name='rules', id='rules', placeholder='Regeln')
          | #{group.rules}
      .form-group
        - var buttonText = group.isNew ? 'Gruppe erstellen' : 'Gruppe ändern'
        button.btn.btn-primary(type='submit')
          i.fa.fa-unlock-alt
          | #{buttonText}
      hr