extends ../layout

block content
  - var addition = group.is_public ? ' (öffentlich)' : ' (privat)';
  h1= group.name + addition
  .groups-details
    .founder
      - var founderName = group.founder ? group.founder.profile.name : 'unbekannt'
      | Gründer: #{isOwner ? 'Du' : founderName}
    .member-count #{group.members.length} #{group.members.length === 1 ? 'Mitglied' : 'Mitglieder'}


  .group-members
    h3 Mitglieder
    .top10
      table.table.table-striped
        thead
          tr
            th #
            th :-)
            th Name
            th Anz. Tipps
            th(title='Exakt, Tendenz, Falsch') E - T - F
            th Punkte
        tbody
          - var i = 0
          for usr in sortedUsers
            tr(class = usr.email === user.email ? 'you' : undefined)
              - var usrPoints = usr.currentPoints
              - var stats = usr.currentStats
              - var nrOfTips = usr.numberOfTipsInGroup(group._id)
              td= ++i
              td.userImage: img(src=usr.profile.picture?usr.profile.picture:usr.gravatar())
              td= usr.profile.name
              td= nrOfTips
              td= (stats.correct || 0) + ' - ' + (stats.tendency || 0) + ' - ' + (stats.wrong || 0)
              td= usrPoints

  if group.price
    .group-price
      - var _price = group.price.replace(/\r?\n/g, '<br>');
      h3 Preis
      p!= _price

  if group.rules
    .group-rules
      - var _rules = group.rules.replace(/\r?\n/g, '<br>');
      h3 Regeln
      p!= _rules

  if group.freetext
    .group-other
      - var _freetext = group.freetext.replace(/\r?\n/g, '<br>');
      h3 Sonstiges
      p!= _freetext


  .tips
    h3 Tipps
    if isMember || isAdmin
      .info #{user.numberOfTipsInGroup(group._id)} von #{matchCount} Spielen getippt
      a.btn.btn-success(href='/groups/#{group.slug}/spielplan')
        i.fa.fa-share
        | Zu den Tipps

  br

  .comments
    h3 Kommentare
    for comment in comments
      .comment
        p.bodytext= comment.body
        span.date= comment.user + ', ' + moment(comment.date).zone(-2).calendar()
    br
    form.form-horizontal(action='/groups/#{group.slug}/addComment', method='POST')
      input(type='hidden', name='_csrf', value=token)
      .form-group
        textarea.col-sm-6.form-control(name='comment', placeholder='Kommentar hinterlassen', required)
      .form-group
        input.btn.btn-small.btn-success(type='submit', value='Kommentieren')

  br

  .actions
    h3 Aktionen
    if !isOwner && !isMember
      a.btn.btn-small.btn-success(href='/groups/#{group.slug}/join')
        | Gruppe beitreten
    if !isOwner && isMember
      a.confirmLeave.btn.btn-small.btn-warning(href='/groups/#{group.slug}/leave')
        | Gruppe verlassen
    if isOwner || isAdmin
      a.btn.btn-small.btn-primary(href='/groups/#{group.slug}/edit')
        | Gruppe editieren
      form.confirmGroupDelete(method='post', action='/groups/#{group.slug}/')
        input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='_method' value='DELETE')
        input.btn.btn-small.btn-danger(type='submit', value='Gruppe löschen')


  if isOwner || isMember
    .invite
      h3 Lade deine Freunde ein

      br
      form.form-horizontal(action='/groups/#{group.slug}/invite', method='POST')
        input(type='hidden', name='_csrf', value=token)
        .form-group
          input.col-sm-6.form-control(type='email', name='email', placeholder='E-Mail')
        .form-group
          textarea.col-sm-6.form-control(name='message', placeholder='Deine Nachricht (optional)')
        .form-group
          input.btn.btn-small.btn-success(type='submit', value='Einladung senden')
      .fb-share-button(data-href='http://wm-tipper.de/groups/#{group.slug}' data-height='40' data-width='200' data-type='link')



