extends ../layout

block content
  h1= group.name || 'Gruppen Details'
  .groups-details
    .founder
      | Gründer: #{isOwner ? 'Du' : group.founder.profile.name}
    .member-count #{group.members.length} #{group.members.length === 1 ? 'Mitglied' : 'Mitglieder'}


  .group-members
    h3 Mitglieder
    for member in group.members
      .member= member.profile.name

  if group.price
    .group-price
      h3 Preis
      p= group.price

  if group.rules
    .group-rules
      h3 Regeln
      p= group.rules

  .actions
    if !isOwner && !isMember
      a.btn.btn-success(href='/groups/#{group.slug}/join')
        | beitreten
    if isOwner || isAdmin
      a.btn.btn-primary(href='/groups/#{group.slug}/edit')
        | Gruppe editieren
      a.btn.btn-danger(href='/groups/#{group.slug}/')
        | Gruppe löschen

