extends ../layout

block content
  - var addition = group.is_public ? ' (öffentlich)' : ' (privat)';
  h1= group.name + addition
  .groups-details
    .founder
      | Gründer: #{isOwner ? 'Du' : group.founder.profile.name}
    .member-count #{group.members.length} #{group.members.length === 1 ? 'Mitglied' : 'Mitglieder'}


  .group-members
    h3 Mitglieder
    .top10
      table.table.table-striped
        thead
          tr
            th Name
            th # tips
            th Points / tip
            th Total Points
        tbody
          for usr in sortedUsers
            tr(class = usr.email === user.email ? 'you' : undefined)
              - var usrPoints = usr.totalPointsPerGroup(group._id)
              - var nrOfTips = usr.numberOfTipsInGroup(group._id)
              td= usr.profile.name
              td= nrOfTips
              td= nrOfTips ? (usrPoints / nrOfTips).toFixed(2) : 0
              td= usrPoints

  if group.price
    .group-price
      h3 Preis
      p= group.price

  if group.rules
    .group-rules
      h3 Regeln
      p= group.rules

  if group.freetext
    .group-other
      h3 Sonstiges
      p= group.freetext


  .tips
    h3 Tips
    if isMember || isAdmin
      .info #{user.numberOfTipsInGroup(group._id)} von #{matchCount} Spielen getippt
      a.btn.btn-success(href='/groups/#{group.slug}/spielplan') Zu den Tips

  br

  .actions
    h3 Actions
    if !isOwner && !isMember
      a.btn.btn-success(href='/groups/#{group.slug}/join')
        | Gruppe beitreten
    if !isOwner && isMember
      a.btn.btn-warning(href='/groups/#{group.slug}/leave')
        | Gruppe verlassen
    if isOwner || isAdmin
      a.btn.btn-primary(href='/groups/#{group.slug}/edit')
        | Gruppe editieren
      a.btn.btn-danger(href='/groups/#{group.slug}/')
        | Gruppe löschen


  if isOwner || isMember
    .invite
      h2 Lade deine Freunde ein
      form(action='/groups/#{group.slug}/invite', method='POST')
        input(type='hidden', name='_csrf', value=token)
        input(type='email', name='email', placeholder='E-Mail')
        br
        br
        input.btn.btn-success(type='submit', value='Einladung senden')

