extends ../layout

block content
  - var addition = group.is_public ? ' (öffentlich)' : ' (privat)';
  h1= group.name + addition
  .groups-details
    .founder
      | Gründer: #{isOwner ? 'Du' : (group.founder ? group.founder.profile.name : 'gelöschter Benutzer' )}
    .member-count #{group.members.length} #{group.members.length === 1 ? 'Mitglied' : 'Mitglieder'}


  .group-members
    h3 Mitglieder
    .top10
      table.table.table-striped
        thead
          tr
            th #
            th Name
            th Anz. Tipps
            th Ø Punkte / Tipp
            th Gesamtpunkte
        tbody
          - var i = 0
          for usr in sortedUsers
            tr(class = usr.email === user.email ? 'you' : undefined)
              - var usrPoints = usr.currentPoints
              - var nrOfTips = usr.numberOfTipsInGroup(group._id)
              td= ++i
              td= usr.profile.name
              td= nrOfTips
              td= nrOfTips ? (usrPoints / nrOfTips).toFixed(2) : 0
              td= usrPoints

  if group.price
    .group-price
      h3 Preis
      p= group.price

  if group.rules
    .group-rules
      h3 Regeln
      p= group.rules

  if group.freetext
    .group-other
      h3 Sonstiges
      p= group.freetext


  .tips
    h3 Tipps
    if isMember || isAdmin
      .info #{user.numberOfTipsInGroup(group._id)} von #{matchCount} Spielen getippt
      a.btn.btn-success(href='/groups/#{group.slug}/spielplan') Zu den Tipps

  br

  .actions
    h3 Aktionen
    if !isOwner && !isMember
      a.btn.btn-small.btn-success(href='/groups/#{group.slug}/join')
        | Gruppe beitreten
    if !isOwner && isMember
      a.confirmLeave.btn.btn-small.btn-warning(href='/groups/#{group.slug}/leave')
        | Gruppe verlassen
    if isOwner || isAdmin
      a.btn.btn-small.btn-primary(href='/groups/#{group.slug}/edit')
        | Gruppe editieren
      form.confirmGroupDelete(method='post', action='/groups/#{group.slug}/')
        input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='_method' value='DELETE')
        input.btn.btn-small.btn-danger(type='submit', value='Gruppe löschen')


  if isOwner || isMember
    .invite
      h3 Lade deine Freunde ein
      form(action='/groups/#{group.slug}/invite', method='POST')
        input(type='hidden', name='_csrf', value=token)
        input(type='email', name='email', placeholder='E-Mail')
        br
        br
        input.btn.btn-small.btn-success(type='submit', value='Einladung senden')

