extends ../layout

block content
  h1= group.name || 'Gruppen Details'
  .groups-details
    .founder
      | Gründer: #{isOwner ? 'Du' : group.founder.profile.name}
    .members #{group.members.length} #{group.members.length === 1 ? 'Mitglied' : 'Mitglieder'}

  .actions
    if !isOwner && !isMember
      a.btn.btn-success(href='/groups/#{group.slug}/join')
        | beitreten
    if isOwner || isAdmin
      a.btn.btn-primary(href='/groups/#{group.slug}/edit')
        | Gruppe editieren
      a.btn.btn-danger(href='/groups/#{group.slug}/')
        | Gruppe löschen

