.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') WM Tipper
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=currentPath=='/'?'active':undefined)
          a(href='/')= user ? 'Dashboard' : 'About'
        li(class=currentPath=='/plan'?'active':undefined)
          a(href='/plan') Spielplan
        li(class=currentPath=='/groups'?'active':undefined)
          a(href='/groups') Tippgruppen
        //-li(class=currentPath=='/bestenliste'?'active':undefined)
          a(href='/bestenliste') Bestenliste
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=currentPath=='/login'?'active':undefined)
            a(href='/login') Anmelden
          if secrets.localAuth
            li(class=currentPath=='/signup'?'active':undefined)
              a(href='/signup') Registrieren
        else
          li.dropdown(class=currentPath=='/account'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-image(src='#{user.profile.picture}')
              else
                img.profile-image(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/account') Mein Account
              if user.admin
                li: a(href='/admin') Admin
              li.divider
              li: a(href='/logout') Ausloggen