.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') WM Tipper
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Home'?'active':undefined)
          a(href='/') Home
        li(class=title=='Tippen'?'active':undefined)
          a(href='/tips') Tippen
        li(class=title=='Spielplan'?'active':undefined)
          a(href='/plan') Spielplan
        li(class=title=='Gruppe'?'active':undefined)
          a(href='/groups') Gruppen
        li(class=title=='Bestenliste'?'active':undefined)
          a(href='/top') Bestenliste
        li(class=title=='Contact'?'active':undefined)
          a(href='/contact') Contact
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Anmelden'?'active':undefined)
            a(href='/login') Anmelden
          if secrets.localAuth
            li(class=title=='Registrieren'?'active':undefined)
              a(href='/signup') Registrieren
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-image(src='#{user.profile.picture}')
              else
                img.profile-image(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/account') My Account
              li.divider
              li: a(href='/logout') Logout