extends ../layout

block content
  h1 Übersicht
  .dashboard

    .subheader Deine Gruppe(n)
    if userGroups.length
      .groups
        each group in userGroups
          .group
            a(href='/groups/#{group.slug}')
              | #{group.name}

    else
      .groups Noch keine Mitgliedschaften.
      .actions
        a.btn.btn-success(href='/groups') Gruppe finden


    br

    .subheader
      | Die nächsten Spiele
    .subcontent
      if nextMatches.length
        .matches
          each match in nextMatches
            .match
              span.matchInfo= match.i18nDateString + ' - ' + match.startTime
              span.matchType= match.matchType + (match.matchType === 'Vorrunde' ? ' (Gruppe ' + match.team1.gruppe + ')' : '')
                //- i= moment(match.when).fromNow()
              br
              a(href='/matches/#{match._id}')= match.team1.name + ' - ' + match.team2.name
              span.matchResult
                | #{match.started ? match.status : undefined}
                br
                | #{match.started ? match.result : '- : -'}

      else
        .info Keine Spiele mehr :(

    br
    .subheader
      | Aktuelles
    .subcontent
      if nextMatches.length
        .news
          each entry in latestNews
            .newsEntry
              .newsDate= moment(entry.createdAt).calendar()
              a.lead(href='/news/#{entry.slug}')= entry.title

        br
        a(href='/news') Alle News im Archiv

      else
        .entry Keine aktuellen Meldungen





