extends ../layout

block content
  h1 Übersicht
  .dashboard

    .subheader Deine Gruppe(n)
    if userGroups.length
      .groups
        each group in userGroups
          .group
            a(href='/groups/#{group.slug}')
              | #{group.name}

    else
      .groups Noch keine Mitgliedschaften.
      .actions
        a.btn.btn-success(href='/groups') Gruppe finden


    br
    br

    .subheader
      | Die nächsten Spiele
    .subcontent
      if nextMatches.length
        .matches
          each match in nextMatches
            .match
              span.matchInfo.lead= match.i18nDateString + ' - ' + match.startTime
              br
              span.matchType= match.matchType
                //- i= moment(match.when).fromNow()
              br
              a.matchName(href='/matches/#{match._id}')= match.team1.name + ' - ' + match.team2.name

              if match.userTips.length
                .deine-tipps
                  span Deine Tipps
                  ul
                    for tip in match.userTips
                      li
                        a(href='/groups/#{tip.groupSlug}')= tip.groupName
                        | &nbsp; #{tip.scoreTeam1} - #{tip.scoreTeam1}
              else
                .deine-tipps
                  span Noch nicht getippt
                  ul
                    li
                      a(href='/groups') Zu den Tippgruppen

              span.matchResult
                | #{match.started ? match.status : moment(match.when).fromNow()}
                br
                | #{match.started ? match.result : '- : -'}


      else
        .info Keine Spiele mehr :(




