extends ../layout

block content
  h1 Übersicht
  .dashboard

    .subheader Deine Gruppe(n)
    if userGroups.length
      .groups
        each group in userGroups
          .group
            a(href='/groups/#{group.slug}')
              | #{group.name}

    else
      .groups Noch keine Mitgliedschaften.
      .actions
        a.btn.btn-success(href='/groups') Gruppe finden


    br

    .subheader
      | Die nächsten Spiele
    .subcontent
      if nextMatches.length
        .matches
          each match in nextMatches
            .match(class= match.running ? 'running' : undefined)
              span.matchInfo= match.i18nDateString
              span.matchType= match.matchType + (!match.isKo() ? ' (Gr. ' + match.team1.gruppe + ')' : '')
                //- i= moment(match.when).fromNow()
              br
              a(href='/groups/#{userGroups[0].slug}/matches/#{match._id}')
                span.flag
                  img(src=match.team1.isDummy ? '/img/flags/unknown.gif' : '/img/flags/#{match.team1.slug}.png', height=5)
                span.teams= match.team1.name + ' - ' + match.team2.name
                span.flag
                  img(src=match.team2.isDummy ? '/img/flags/unknown.gif' : '/img/flags/#{match.team2.slug}.png', height=5)
              span.matchResult
                | #{match.started ? match.result : '- : -'}
              span.matchStatus
                | #{match.started ? match.status : undefined}

      else
        .info Keine Spiele mehr :(

    br
    .subheader
      | Aktuelles
    .subcontent
      if nextMatches.length
        .news
          each entry in latestNews
            .newsEntry
              .newsDate= moment(entry.createdAt).zone(-2).calendar()
              a.lead(href='/news/#{entry.slug}')= entry.title

        br
        a(href='/news') Alle News im Archiv

      else
        .entry Keine aktuellen Meldungen





