extends layout

block content
  h1 Das Tippspiel zur Fussball WM 2014
  h4 Willkommen auf WM-Tipper, dem einfachen WM Tippspiel für Büro, Freunde und Familie!


  p.bodytext
    | Das Fussballfieber zur Weltmeisterschaft 2014 in Brasilien greift um sich und ihr sucht nach einem Tippspiel?
    br
    | Bei WM-Tipper seid ihr genau richtig.
  p.bodytext
    | Wer wird Weltmeister, wer scheidet bereits in der Vorrunde aus? Steigt beim WM Tippspiel ein und tippt die Begegnungen der Fußball Weltmeisterschaft. Ladet  Freunde ein oder gründet gleich eine Tippgruppe. Tretet gegen Freunde, Kollegen oder Verwandte an und werdet Tippkönig. WM-Tipper bietet euch folgende Features:



  h3 Features
  ul.features
    li Kostenlos, einfach und schnell - Ihr könnt sofort loslegen
    li WM-Tipper ist einfach und übersichtlich
    li Erstelle eigene Tippgemeinschaften und lade Deine Freunde ein
    li Ihr selbst bestimmt Regeln und Preise innerhalb der Gruppe
    li Stets aktuelle Ergebnisauswertung
    li Sei stets dabei: Logge Dich auch von unterwegs ein und halte deine Tipps stets aktuell
    li Für Mobiltelefone optimierte Webseite
    li Bleibt immer auf dem laufenden durch aktuelle News zur Fussball-WM
    li: a(href='/signup') Hier Anmelden und gleich lostippen.

  h3 Wie funktioniert's

  p.lead DIE TIPPABGABE

  p.bodytext
    | Die Tippabgabe ist immer bis zum Start des zu tippenden Spiels möglich. Auch Änderungen sind solange möglich. Ab dem Beginn des Spiels kann man keine Änderungen mehr durchführen.
    br
    | Es ist auch möglich, in mehreren Tippgruppen mitzuspielen.

  br
  p.lead DAS PUNKTESYSTEM

  p.bodytext
    | Die abgegebenen Tipps werden je nach Richtigkeit mir Punkten belohnt. Es zählt immer das Endergebnis des Spiels.

  ul
    li Für richtige Tipps gibt es 3 Punkte. Hier muss das Ergebnis genau stimmen.
    li Ist das Ergebnis nicht genau, aber die Tendenz (Sieg, Niederlage oder Unentschieden) stimmt, erhältst Du einen Punkt.
    li Für komplett falsche Tipps (Ergebnis und Tendenz) gibt es keine Punkte

  br
  p.lead DAS GESAMTERGEBNIS

  p.bodytext
    | Die Gesamtplatzierung wird am Ende des Turniers ermittelt. Natürlich kannst Du jederzeit deine aktuelle Platzierung in der Gruppe ansehen. So wird die Platzierung berechnet:

  ol
    li Die endgültige Platzierung beruht auf den gewonnen Punkten. Je besser Du getippt hast, um so höher ist die Platzierung.
    li Sind die Punkte bei mehreren Spielern gleich, werden die Plätze geteilt.

  br

  .subheader
    | Die nächsten Spiele
  .subcontent
    if nextMatches.length
      .matches
        each match in nextMatches
          .match
            span.matchInfo= match.i18nDateString
            span.matchType= match.matchType + (match.matchType === 'Vorrunde' ? ' (Gr. ' + match.team1.gruppe + ')' : '')
              //- i= moment(match.when).fromNow()
            br
            a(href='/matches/#{match._id}')= match.team1.name + ' - ' + match.team2.name
            span.matchResult
              | #{match.started ? match.status : undefined}
              br
              | #{match.started ? match.result : '- : -'}

        br
        a(href='/plan') Alle Spiele der WM findest du hier

    else
      .info Keine Spiele mehr :(

  br
  .subheader
    | Aktuelles
  .subcontent
    if nextMatches.length
      .news
        each entry in latestNews
          .newsEntry
            .newsDate= moment(entry.createdAt).zone(-2).calendar()
            a.lead(href='/news/#{entry.slug}')= entry.title

      br
      a(href='/news') Alle News im Archiv

    else
      .entry Keine aktuellen Meldungen






