extends ../layout

block content
  h1= group.name +  ' - Spielübersicht'

  a.btn.btn-default(href='/groups/#{group.slug}')
    i.fa.fa-chevron-left
    | Zurück zur Gruppe



  .matches.marge10
    each match in matches
      .group
        .match
          span.matchInfo= match.formattedDate
          span.matchType= match.matchType + (match.matchType === 'Vorrunde' ? ' (Gruppe ' + match.team1.gruppe + ')' : '')
          br
          a.matchName(href='/groups/#{group.slug}/matches/#{match._id}')= match.team1.name + ' - ' + match.team2.name
          span.matchResult
            | #{match.started ? match.status : undefined}
            br
            | #{match.started ? match.result : '- : -'}
          .userTip
            if match.userTip
              .title
               | Dein Tip: #{match.userTip.scoreTeam1} - #{match.userTip.scoreTeam2}
               if !match.started
                .editTip
                  a.btn.btn-primary(href='/groups/#{group.slug}/matches/#{match._id}/tips/#{match.userTip._id}/edit')
                    i.fa.fa-edit
                    | Tip editieren
            else
              if !match.started
                .title
                 | noch nicht getippt
                .editTip
                  a.btn.btn-success(href='/groups/#{group.slug}/matches/#{match._id}/tips/new')
                    | Jetzt tippen
              else
                .info
                  | Tipps für dieses Spiel sind geschlossen
  .actions
    if user && user.admin
      a.btn.btn-small.btn-primary(href='/matches/new')
        | Neue Partie erstellen
