extends ../layout

block content
  h1 Spielplan
  .info
    p
      | Zum Tippen besuche bitte eine
      a(href='/groups') &nbsp;Gruppe

  if user && user.admin
    a.btn.btn-success(href='/matches/new')
      | Neue Partie erstellen

  .matches
    each match in matches
      .match
        span.matchInfo= match.i18nDateString
        span.matchType= match.matchType + (match.matchType === 'Vorrunde' ? ' (Gruppe ' + match.team1.gruppe + ')' : '')
        //- i= moment(match.when).fromNow()
        br
        a.matchName(href='/matches/#{match._id}')= match.team1.name + ' - ' + match.team2.name
        span.matchResult
          | #{match.started ? match.status : undefined}
          br
          | #{match.started ? match.result : '- : -'}


