extends ../layout

block content
  .match-details

    h1

      span.flag
        img(src=match.team1.isDummy ? '/img/flags/unknown.gif' : '/img/flags/#{match.team1.slug}.png')
      span.name
        if match.team1.isDummy
          | #{match.team1.name}
        else
          a(href='/teams/#{match.team1.slug}')= match.team1.name
      span= ' - '
      span.name
        if match.team2.isDummy
          | #{match.team2.name}
        else
          a(href='/teams/#{match.team2.slug}')= match.team2.name
      span.flag
        img(src=match.team2.isDummy ? '/img/flags/unknown.gif' : '/img/flags/#{match.team2.slug}.png')

    .status= match.status

    if !match.started
      h3.date= match.i18nDateString
      .fromNow= match.i18nDateFromNow
    else
      h1.ergebnis= match.result


    if group
      if userTip
        h3.tip= 'Dein Tip: ' + userTip.result
        if !match.started
          a.btn.btn-primary(href='/groups/#{group.slug}/matches/#{match.id}/tips/#{userTip._id}/edit')
            i.fa.fa-edit
            | Tip ändern
      else
        .tip Nicht getippt

      if match.started && userTip
        .points= 'Das gibt ' + points + (points === 1 ? ' Punkt' : ' Punkte')
      else
        .points (noch) keine Punkte

      if !match.started
        if !userTip
          a.btn.btn-success(href='/groups/#{group.slug}/matches/#{match._id}/tips/new')
            | Jetzt Tippen

    if !match.started && !userTip && !group
      a.btn.btn-success(href='/groups')
        i.fa.fa-trophy
        | Zu den Tippgruppen

    if match.started && match.isKo() && matchUsers.length
      .top10.table-responsive.matchTable
        table.table.table-striped
          thead
            tr
              th :-)
              th Name
              //-th Gruppe
              th Tipp
              th Punkte
          tbody
            for usr in matchUsers
              tr(class = user && (usr.email === user.email) ? 'you' : undefined)
                - var stats = usr.bestGroup
                td.userImage: img(width=30,src=usr.image)
                td= usr.name
                //-td= usr.bestGroupDetails.name
                td= usr.tip.scoreTeam1 + ' - ' + usr.tip.scoreTeam2
                td= usr.points


  .actions
    if user && user.admin
      a.btn.btn-small.btn-primary(href='/matches/#{match._id}/edit')
        | Match editieren
      form.confirmDelete(method='post', action='/matches/#{match._id}')
        input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='_method' value='DELETE')
        input.btn.btn-small.btn-danger(type='submit', value='Match löschen')


    if group
      a.btn.btn-default(href='/groups/#{group.slug}/spielplan')
        i.fa.fa-chevron-left
        | Zurück zum Spielplan
