extends ../layout

block content
  h1 Bestenliste
  p.bodytext
    | Die Bestenliste zeigt die Gesamtwertung aller Spieler aus allen Gruppen an.

    br
  .top10.table-responsive
    table.table.table-striped
      thead
        tr
          th #
          th :-)
          th Name
          //-th Gruppe
          th Anz. Tipps
          th(title='Exakt, Tendenz, Falsch') E - T - F
          th Punkte
      tbody
        - var i = parseInt(page-1) * parseInt(perPage)
        - var lastUser = { maxPoints: 9999, bestGroup: { correct: 0, tendency: 0, wrong: 0 }};
        for usr in sortedUsers
          tr(class = user && (usr.email === user.email) ? 'you' : undefined)
            - var stats = usr.bestGroup
            //-td= (usr.maxPoints === lastUser.maxPoints) && (stats.correct === lastUser.bestGroup.correct) ? i : ++i
            td= ++i
            td.userImage: img(width=30,src=usr.profile.picture?usr.profile.picture.replace('large', 'small', 'g'):usr.gravatar())
            td
              span.name #{usr.profile.name}
              if usr.groupName
                span.groupName #{usr.groupName}
            //-td= usr.bestGroupDetails.name
            td= usr.nrOfTips
            td= (stats.correct || 0) + ' - ' + (stats.tendency || 0) + ' - ' + (stats.wrong || 0)
            td= usr.maxPoints
            - lastUser = usr


    if (page > 1)
      - var nextPage = parseInt(page) - 1
      a.btn.btn-default.prevPage(href="/bestenliste?page=#{nextPage}")
        | vorige

    if (page*perPage < totalCount)
      - var nextPage = parseInt(page) + 1
      a.btn.btn-default.nextPage(href="/bestenliste?page=#{nextPage}")
        | nächste





