extends ../layout

block content
  h1 Bestenliste
  .top10
    table.table.table-striped
      thead
        tr
          th #
          th Name
          th Anz. Gruppen
          th Anz. Tipps
          th Ø Punkte / Tipp
          th Gesamtpunkte
          th Ø Punkte / Gruppe
      tbody
        - var i = parseInt(page-1) * parseInt(perPage)
        for usr in users

          tr(class = (user && (usr.email === user.email)) ? 'you' : undefined)
            td= ++i
            td= usr.profile.name
            td= usr.groups.length
            td= usr.tips.length
            td= usr.tips.length ? (usr.totalPoints / usr.tips.length).toFixed(2) : 0
            td= usr.totalPoints
            td= (usr.groups.length && usr.tips.length) ? (usr.totalPoints / usr.groups.length).toFixed(2) : 0


    if (page > 1)
      - var nextPage = parseInt(page) - 1
      a.btn.btn-primary.prevPage(href="/bestenliste?page=#{nextPage}") prev
    if (page*perPage < totalCount)
      - var nextPage = parseInt(page) + 1
      a.btn.btn-primary.nextPage(href="/bestenliste?page=#{nextPage}") next



