extends ../layout

block content
  h1 Bestenliste
  .top10
    table.table.table-striped
      thead
        tr
          th Name
          th Anz. Gruppen
          th Anz. Tipps
          th Ø Punkte / Tipp
          th Gesamtpunkte
          th Ø Punkte / Gruppe
      tbody
        for usr in users
          tr(class = (user && (usr.email === user.email)) ? 'you' : undefined)
            - var totalPoints = usr.currentPoints
            td= usr.profile.name
            td= usr.groups.length
            td= usr.tips.length
            td= usr.tips.length ? (totalPoints / usr.tips.length).toFixed(2) : 0
            td= totalPoints
            td= (usr.groups.length && usr.tips.length) ? (totalPoints / usr.groups.length).toFixed(2) : 0



