extends ../layout

block content

  .alert.alert-info Für einen exakt richtigen Tipp gibt es 3 Punkte, für die richtige Tendenz 1 Punkt und für falsche Tipps keine Punkte (surprise!). Nach Beginn des Spiels kann der Tipp nicht mehr editiert werden.

  - var ergebnis = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
  form(method='POST', action=action)
    legend
      | Dein Tipp für #{match.team1.name} - #{match.team2.name}
    input(type='hidden', name='_csrf', value=token)
    .col-sm-8.col-sm-offset-2
      - if (!tip.isNew)
        input(type="hidden", name="_method", value="PUT")
      .form-group
        label.control-label(for='scoreTeam1')
          | #{match.team1.name}

        select.form-control(name='scoreTeam1', id='scoreTeam1')
          for nr in ergebnis
            option(selected = nr === parseInt(tip.scoreTeam1)) #{nr}
      .form-group
        label.control-label(for='scoreTeam2')
          | #{match.team2.name}
        select.form-control(name='scoreTeam2', id='scoreTeam2')
          for nr in ergebnis
            option(selected = nr === parseInt(tip.scoreTeam2)) #{nr}
      .form-group
        input(type="hidden", name="match", value=match._id)
        - var buttonText = tip.isNew ? 'Tipp speichern' : 'Tipp ändern'
        button.btn.btn-success(type='submit')
          | #{buttonText}
        a.btn(href='/groups/#{group.slug}/matches/#{match._id}') Cancel
      hr
