extends ../layout

block content
  - var action = tip.isNew ? '/tips' : '/tips/' + tip._id
  - var ergebnis = [0, 1, 2, 3, 4, 5, 6, 7, 7, 9]
  form(method='POST', action=action)
    legend
      | Dein Tip für #{match.team1.name} - #{match.team2.name}
    input(type='hidden', name='_csrf', value=token)
    .col-sm-8.col-sm-offset-2
      - if (!tip.isNew)
        input(type="hidden", name="_method", value="PUT")
      .form-group
        label.control-label(for='scoreTeam1')
          | #{match.team1.name}

        select.form-control(name='scoreTeam1', id='scoreTeam1')
          for nr in ergebnis
            option(selected = nr === tip.scoreTeam1) #{nr}
      .form-group
        label.control-label(for='scoreTeam2')
          | #{match.team2.name}
        select.form-control(name='scoreTeam2', id='scoreTeam2')
          for nr in ergebnis
            option(selected = nr === tip.scoreTeam1) #{nr}
      .form-group
        label.control-label(for='private')
          | Tip ist geheim (nicht einsehbar in der Gruppe)
        input.form-control(type='checkbox', name='private', id='private')
      .form-group
        input(type="hidden", name="match", value=match._id)
        - var buttonText = tip.isNew ? 'Tippen' : 'Tip ändern'
        button.btn.btn-primary(type='submit')
          i.fa.fa-unlock-alt
          | #{buttonText}
      hr
